# OctoPrint Tapo P110 Plugin Requirements

# HTTP requests
requests>=2.24.0

# Note: PyP100 library will be installed automatically by the plugin
# Manual installation: pip install git+https://github.com/almottier/TapoP100.git@main
